:root {
    --light-blue: red !important;
    --primary-blue-gray: red !important;
    --primary-copper: red !important;
    --primary-sandy-brown: red !important;
    --primary-spanish-blue: green !important;
    --primary-steel-blue: red !important;
}
